// COLORS
$color-primary:#55c57a;
$color-primary-light:#7ed56f;
$color-primary-dark:#18815e;
//$color-primary:#0778c4;
//$color-primary-light:#4196e6;
//$color-primary-dark:#1a1881;

$color-secondary-light:#2998ff;
$color-secondary-dark:#5643fa;

$color-tertiary-light:#ffb900;
$color-tertiary-dark:#ff7730;

$color-dark-grey:#777777;
$color-dark-grey-2:#999;
$color-dark-grey-3:#333;
$color-grey: #eee;
$color-white:#fff;
$color-black: #000;
$color-light-grey-1: #f7f7f7;

// GRID
$grid-width: 100rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//FONT
$default-size: 1.6rem;