.btn{
    &:link,
    &:visited {
        background-color: $color-white;
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        backface-visibility: hidden;
        position: relative;
        transition: all .2s;
    }

    &:hover {
        transform: translateY(-0.3rem);
        box-shadow: 0 1rem 2rem rgba($color-black, 0.2);

        &::after {
            transform: scale(1.4, 1.6);
            opacity: 0;
        }
    }

    &:active {
        transform: translateY(-0.1rem);
        box-shadow: 0 0.5rem 0.5rem rgba($color-black, 0.2);
    }

    &--white {
        background-color: $color-white;
        color: $color-dark-grey;
    }

    &::after {
        content: '';
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }

    &--white::after {
        background-color: $color-white;
    }

    &--animation {
        animation:moveUp 1s ease-out .50s;
        animation-fill-mode: backwards;
    }

    &-text {
        &:visited,
        &:link {
            color: $color-primary;
            display: inline-block;
            text-decoration: none;
            border-bottom: 1px solid $color-primary;
            padding: 3px;
            font-size: $default-size;
            transition: all .2s;
        }

        &:hover {
            background-color: $color-primary;
            color: $color-white;
            box-shadow: 0 1rem 2rem rgba($color-black, 0.20);
            transform: translateY(-2px);
        }

        &:active {
            transform: translateY(0);
            box-shadow: 0 0.5rem 0.5rem rgba($color-black, 0.15);
        }
    }
}